.service{
    transition: 0.5s;
    position: relative;
    background-color: transparent;
    width: 245px;
    height: 100%;
    border-radius: 120px;
    z-index: 2;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px;
}
.service-content img{
    border: 15px solid #fff;
    border-radius: 50%;
}

.service-content p{
    height: 120px;
    transition: 0.3s;
}
.service h2{
    font-size: 20px;
    color: #2A2764;
    transition: 0.3s
}
.service h3{
    color: #2A2764;
}

.open-service{
    width: 600px;
    background-color: #fff;
}




@media (max-width: 768px) {
    .service-content{
        margin: 0 50px;
    }
    .service{
        width: 100%;
    }
    .service h2{
        text-align: center;
    }
}
@media (max-width: 576px) {
    .service-content p{
        height: 100%;
    }
}